.iblue-button {
  color: white;
  font-style: unset;
  letter-spacing: 0.5px;
  border: none;
  width: 300px;
  height: auto;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 0.84rem 2.14rem;
  margin: .375rem;
  font-size: 0.81rem;
  transition: 0.2s ease-in-out;
  &.rounded {
    border-radius: 80px !important;
  }
  &.primary {
    background-color: #361eab !important;
  }
  &.pink {
    background-color: #fc3f69 !important;
  }
}
