/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  &::after {
    content: "";
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    /* Place the container to the left */
    &.left {
      left: 0;
      &::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        right: 30px;
        border: medium solid white;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent white;
      }
    }
    /* Place the container to the right */
    &.right {
      left: 50%;
      &::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        left: 30px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
      }
      &::after {
        left: -13px;
      }
    }
    /* The circles on the timeline */
    &::after {
      content: "";
      position: absolute;
      width: 25px;
      height: 25px;
      right: -13px;
      background-color: white;
      border: 4px solid #ff9f55;
      top: 15px;
      border-radius: 50%;
      z-index: 1;
    }
    .content {
      .title {
        color: #000;
      }
      .text {
      }
      padding: 20px 30px;
      background-color: white;

      position: relative;
      border-radius: 6px;
    }
  }
}

/* Add arrows to the left container (pointing right) */

/* Add arrows to the right container (pointing left) */

/* Fix the circle for containers on the right side */

/* The actual content */

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
    /* Full-width containers */
    .container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
      /* Make sure that all arrows are pointing leftwards */
      &::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
      }
      &.left::after,
      &.right::after {
        left: 15px;
      }
      &.right {
        left: 0%;
      }
    }
  }
}
