<div class="timeline">
  <div class="container right">
    <div class="content">
      <h2 class="title">2018</h2>
      <p>
        Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum
        perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret
        expetendis his, te elit voluptua dignissim per, habeo iusto primis ea
        eam.
      </p>
    </div>
  </div>

  <div class="container left">
    <div class="content">
      <h2 class="title">2017</h2>
      <p>
        Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum
        perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret
        expetendis his, te elit voluptua dignissim per, habeo iusto primis ea
        eam.
      </p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h2 class="title">2016</h2>
      <p>
        Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum
        perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret
        expetendis his, te elit voluptua dignissim per, habeo iusto primis ea
        eam.
      </p>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <h2 class="title">2015</h2>
      <p>
        Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum
        perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret
        expetendis his, te elit voluptua dignissim per, habeo iusto primis ea
        eam.
      </p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h2 class="title">2012</h2>
      <p>
        Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum
        perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret
        expetendis his, te elit voluptua dignissim per, habeo iusto primis ea
        eam.
      </p>
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <h2 class="title">2011</h2>
      <p>
        Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum
        perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret
        expetendis his, te elit voluptua dignissim per, habeo iusto primis ea
        eam.
      </p>
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h2 class="title">2007</h2>
      <p>
        Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum
        perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret
        expetendis his, te elit voluptua dignissim per, habeo iusto primis ea
        eam.
      </p>
    </div>
  </div>
</div>
