@import "../../../../scss/nebularThemes";
/* @import '~@nebular/bootstrap/styles/hero-buttons';
 */
@include nb-install-component() {
  position: relative;

  img {
    width: 100%;
    height: auto;
    visibility: hidden;
  }

  .svg-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  .circle {
    fill: nb-theme(color-bg);
    stroke: nb-theme(color-success);
  }

  .temperature-bg {
    position: absolute;
    width: 88%;
    height: 88%;
    top: 13%;
    left: 6%;
    border-radius: 50%;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 2px solid nb-theme(separator);
    @include nb-for-theme(cosmic) {
      background-color: lighten(nb-theme(layout-bg), 2%);
      border: none;
    }
  }

  .power-bg {
    position: absolute;
    width: 5.25rem;
    height: 5.25rem;
    background-color: nb-theme(card-bg);
    border-radius: 50%;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 3rem;
    color: nb-theme(color-fg-heading);
    border: 2px solid nb-theme(separator);

    &:hover {
      background-color: lighten(nb-theme(card-bg), 5%);
    }

    &:active {
      background-color: darken(nb-theme(card-bg), 5%);
      box-shadow: none;
    }

    &.off {
      color: nb-theme(color-fg);
      text-shadow: none;
    }
  }

  @include nb-for-theme(cosmic) {
    .circle {
      fill: nb-theme(color-fg-heading);
      stroke: nb-theme(color-fg-heading);
    }

    .power-bg {
      border: none;
      box-shadow: nb-theme(card-shadow);
      text-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    }
  }

  @include nb-for-theme(corporate) {
    .circle {
      stroke: nb-theme(color-warning);
    }

    .power-bg {
      color: nb-theme(separator);
    }
  }
}
