.deploySvgClass {
  svg {
    margin: 20px 500px 30px auto;
  }
}

/* .deploySvgClass {
 // position: relative;
  height: 281px;
 // width: 450px;
  //margin: 0 auto;
  img {
    margin: 20px 500px 30px auto;
    position: absolute;
    left: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }
  .top {
    &:hover {
      opacity: 0;
    }
  }
}
 */
