@mixin card-theme($theme, $color) {
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
  $background-color: mat-color($background, card);
  .card {
    @include mat-elevation(2);
    background-color: $background-color;
    .card-header{
      &.card-header-info{
        @include nebularDark;
      }
    }
    .card-body{
     color: $color !important;
    }
  }
}
