    
    <h1>dashboard worksdsds!</h1>
    <ngx-temperature></ngx-temperature>
    <div *ngFor="let statusCard of statusCards">
      <ngx-status-card [title]="statusCard.title" [type]="statusCard.type">
        <i [ngClass]="statusCard.iconClass"></i>
      </ngx-status-card>
    </div>
  </nb-layout-column>
</nb-layout>
