ion-content {
  --background: #eeeeee;
}

$color_1: #fff;
$color_2: #999999;
.card-holder {
  padding-top: 1em;
  .cascading-admin-card {
    margin-top: 20px;

    .admin-up {
      margin-left: 4%;
      margin-right: 4%;
      margin-top: -20px;

      .icon-holder {
        display: flex;
        padding: 1.7rem;
        max-width: 3em;
        max-height: 3em;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        color: #fff;
        text-align: left;
        margin-right: 1rem;
        border-radius: 3px;
        box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2),
          0 2px 13px 0 rgba(0, 0, 0, 0.19);
      }

      .data {
        float: right;
        /* margin-top: 2rem; */
        text-align: right;

        p {
          color: $color_2;
          font-size: 12px;
        }
      }

      .fa {
        -webkit-box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2),
          0 2px 13px 0 rgba(0, 0, 0, 0.19);
        box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2),
          0 2px 13px 0 rgba(0, 0, 0, 0.19);
      }
	}
	.card-body{
		padding: 0 1.25rem;
	}
  }
}

.classic-admin-card {
  .card-body {
    color: $color_1;
    margin-bottom: 0;
    padding: 0.9rem;

    p {
      font-size: 13px;
      opacity: 0.7;
      margin-bottom: 0;
    }

    h4 {
      margin-top: 10px;
    }

    .float-right {
      .fa {
        font-size: 3rem;
        opacity: 0.5;
      }
    }
  }

  .progress {
    margin: 0;
    opacity: 0.7;
  }
}


/* .toast-danger {
  --background: var(--ion-color-danger-tint);
  --border-color: var(--ion-color-danger-shade);
  --border-style: none none none solid;
  --border-width: 8px;
}

 */
