<app-header></app-header>
<ion-content class="ion-padding">

<div>
  <input type="text" id="defaultLoginFormEmail" class="form-control mb-4" disabled=true placeholder="Token"
    [(ngModel)]="possibleToken">
</div>

<ion-button expand="full" color="background" (click)="requestPushNotificationsPermission()">
  Enable
</ion-button>
<ion-button expand="full" color="background" (click)="showModal()">
  showModal
</ion-button>
<button mdbBtn type="button" color="primary" mdbWavesEffect (click)="showSnackBar = !showSnackBar">snackBar!</button>
<app-snackbar [getSnack]="showSnackBar" text="I'll breakway!"></app-snackbar>

<section class="">
  <div class="row">
    <div class="col-xl-3 col-md-6 mb-r card-holder" *ngFor="let cardObj of cardArr">
      <mdb-card cascade="true" class="cascading-admin-card">
        <div class="admin-up">
          <div class="icon-holder {{cardObj.class}}">
            <i [class]="cardObj.icon"></i>
          </div>
          <div class="data">
            <p>{{cardObj.name}}</p>
            <h4><strong>{{cardObj.value}}</strong></h4>
          </div>
        </div>
        <mdb-card-body>
          <div class="progress">
            <div class="progress-bar bg-primary" role="progressbar" [style.width]="cardObj.progressBar + '%'"
              aria-valuenow="cardObj.progressBar" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <p class="card-text">Better than last week {{cardObj.progressBar}}%</p>
        </mdb-card-body>
      </mdb-card>
    </div>

  </div>
</section>
</ion-content>
