.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}


.center{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  box-shadow: 5px 5px 5px 5px;
  .card-header{
    background-color: purple;
    height: 40px;
    margin-top: -40px;
    font-size: 1.5em;
    display: flex;
    align-items: center;
  }

}
