<div class="center">

  <mat-card class="example-card card">
    <mat-card-header class="card-header">
      Teste
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <qrcode [qrdata]="jsonTest" [size]="256" [level]="'M'"></qrcode>
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Primary</button>
      <button mat-raised-button color="primary">Primary</button>
    </mat-card-actions>
  </mat-card>

</div>
