$color_1: white;
$color_2: black;
$background_color_1: #444;
$background_color_2: white;

.search-container {
  position: absolute;
  display: inline-block;
  margin: 4px 2px;
  height: 50px;
  right: 20%;
  width: 50px;
  vertical-align: bottom;
  .search {
    &:focus {
      & + .searchbutton {
        transition-duration: 0.4s;
        -moz-transition-duration: 0.4s;
        -webkit-transition-duration: 0.4s;
        -o-transition-duration: 0.4s;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        background-color: $background_color_2;
        color: $color_2;
      }
      width: 20vw;
      padding: 0 16px 0 0;
    }
    position: absolute;
    left: 49px;
    background-color: $background_color_2;
    outline: none;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0;
    width: 0;
    height: 100%;
    z-index: 10;
    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
  }
  .searchbutton {
    display: inline-block;
    margin: 4px 2px;
    font-size: 14px;
    padding-left: 32px;
    padding-right: 32px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: $color_1;
    text-decoration: none;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    font-size: 22px;
    width: 100%;
    margin: 0;
    padding: 0;
    &.primary {
      background-image: linear-gradient(to right, #ad59ff, #7659ff);
      box-shadow: 0 3px 0 0 #7e4ddb, 0 2px 8px 0 #9259ff,
        0 4px 10px 0 rgba(33, 7, 77, 0.5);
      text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    }
    &.success {
      background-image: linear-gradient(to right, #00d9bf, #00d977);
      box-shadow: 0 3px 0 0 #00bb85, 0 2px 8px 0 #00d99b,
        0 4px 10px 0 rgba(33, 7, 77, 0.5);
      text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    }
    &.info {
      background-image: linear-gradient(to right, #00b3ff, #08f);
      box-shadow: 0 3px 0 0 #0087db, 0 2px 8px 0 #009dff,
        0 4px 10px 0 rgba(33, 7, 77, 0.5);
      text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    }
    &.warning {
      background-image: linear-gradient(to right, #fc0, #ffa100);
      box-shadow: 0 3px 0 0 #db9d00, 0 2px 8px 0 #ffb600,
        0 4px 10px 0 rgba(33, 7, 77, 0.5);
      text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    }
    &.danger {
      background-image: linear-gradient(to right, #ff38ac, #ff386a);
      box-shadow: 0 3px 0 0 #db3078, 0 2px 8px 0 #ff388b,
        0 4px 10px 0 rgba(33, 7, 77, 0.5);
      text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    }
    &.dark {
      background-image: linear-gradient(to right, #f1f1f1, #000000);
      box-shadow: 0 3px 0 0 #424242, 0 2px 8px 0 #000000,
        0 4px 10px 0 rgba(3, 1, 8, 0.5);
      text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    }
    &.disabled {
      opacity: 0.3;
      cursor: not-allowed;
    }
    &:hover {
      transition-duration: 0.4s;
      -moz-transition-duration: 0.4s;
      -webkit-transition-duration: 0.4s;
      -o-transition-duration: 0.4s;
      background-color: $background_color_2;
      color: $color_2;
    }
    .mglass {
      display: inline-block;
      pointer-events: none;
      transform: rotate(-45deg);
    }
  }
}
