<div class="search-container">
    <input
      class="search"
      id="searchleft"
      type="search"
      [disabled]="!enableFilter"
      [(ngModel)]="filter"
      (ngModelChange)="startFilter($event)"
      name="q"
      placeholder="Search"
    />
    <!--Em caso de uso do Nebular >=> nbButton -->
    <label  [class.disabled]="!enableFilter" class="button searchbutton" for="searchleft"
      ><span class="mglass">&#9906;</span>
      </label
    >
  </div>