.normal {
    background-image: linear-gradient(to right, #ad59ff, #7659ff);
    box-shadow: 0 3px 0 0 #7e4ddb, 0 2px 8px 0 #9259ff,
      0 4px 10px 0 rgba(33, 7, 77, 0.5);
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border: none;
    line-height: calc((1rem * 1.25) + 4px);
    font-weight: normal;
    color: black !important;
    .status {
      font-size: 30px;
      text-transform: uppercase;
      text-shadow: 2px 2px 3px black;
    }
  }
  
  .warning {
    background-image: linear-gradient(to right, #fc0, #ffa100) !important;
    box-shadow: 0 3px 0 0 #db9d00, 0 2px 8px 0 #ffb600,
      0 4px 10px 0 rgba(33, 7, 77, 0.5);
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border: none;
    font-weight: normal;
    line-height: calc((1rem * 1.25) + 4px);
    .status {
      font-size: 30px;
      text-transform: uppercase;
      text-shadow: 2px 2px 3px black;
    }
  }
  
  .danger {
    background-image: linear-gradient(to right, red, #ff386a);
    box-shadow: 0 3px 0 0 #db3078, 0 2px 8px 0 #ff388b,
      0 4px 10px 0 rgba(33, 7, 77, 0.5);
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border: none;
    line-height: calc((1rem * 1.25) + 4px);
    font-weight: normal;
    color: #fff;
    .status {
      font-size: 30px;
      text-transform: uppercase;
      text-shadow: 2px 2px 3px black;
    }
  }
  
  .crazy {
    background-color: black !important;
    font-weight: bolder;
    color: white;
    .status {
      font-size: 30px;
      text-transform: uppercase;
      text-shadow: 2px 2px 3px black;
    }
  }

.OnFabButton {
    position: fixed;
    bottom: 35px;
    right: 25px;
    .float-btn-group {
        .icon-bars {
            transition: .3s;
        }

        .btn-list {
            .btn-float {
                position: absolute;
                right: 0;
                top: 0;
                opacity: 0;

                &:nth-child(1) {
                    transition: .3s 1.2s
                }

                &:nth-child(2) {
                    transition: .3s .9s
                }

                &:nth-child(3) {
                    transition: .3s .6s
                }

                &:nth-child(4) {
                    transition: .3s .3s;
                }
            }
        }

        &.open {
            .btn-list {
                .btn-float {
                    opacity: 1;

                    &:nth-child(1) {
                        right: 280px;
                        transition: .3s .3s;
                    }

                    &:nth-child(2) {
                        right: 210px;
                        transition: .3s .6s
                    }

                    &:nth-child(3) {
                        right: 140px;
                        transition: .3s .9s
                    }

                    &:nth-child(4) {
                        right: 70px;
                        transition: .3s 1.2s
                    }
                }
            }
        }
    }
}