<div class="OnFabButton">
    <div class="float-btn-group" [class.open]="showFab">
      <button class="btn-float btn-triger" nbButton (click)="openFabMenu()">
        <i class="fas fa-bars"></i>
      </button>
      <div class="btn-list">
        <button class="btn-float" (click)="GoTo(fabObj)" *ngFor="let fabObj of FabList" nbButton hero [status]="fabObj.cor" [nbTooltip]="fabObj.tooltip" nbTooltipPlacement="top">
          <i class="{{fabObj.icon}}"></i>
        </button>
      </div>
    </div>
  </div>