<ion-header>
  <ion-toolbar>
    <ion-title>
      Teste 117
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be
      your guide.</p>
    <ion-button (click)="scanCode()">
      Click me NOW!
    </ion-button>

    <ion-item>
      <ion-label>Ano,mes e dia</ion-label>
      <ion-datetime mode="ios" cancelText="Cancelar" doneText="Confirmar" displayFormat="YYYY-MM-DD"
        pickerFormat="YYYY-MM-DD" value="1994-12-15T13:47:20.789" [(ngModel)]="ano_mes_dia"
        (ionBlur)="ionBlurToDate($event)"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Hora e minuto</ion-label>
      <ion-datetime mode="ios" cancelText="Cancelar" doneText="Confirmar" displayFormat="HH:mm"
        pickerFormat="HH:mm" value="1994-12-15T13:47:20.789" [(ngModel)]="hora_minutos"
        (ionBlur)="ionBlurToDate($event)"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Valor é {{Date}}</ion-label>
    </ion-item>
  </div>
</ion-content>