<div class="modal-notify modal-warning">
  <div class="modal-header">
    <h4 class="modal-title w-100" id="myModalLabel">Modal title</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <div class="md-form">
          <mdb-icon fas icon="envelope" class="prefix"></mdb-icon>
          <input mdbInput type="text" id="NomePlayer" class="form-control">
          <label for="NomePlayer">ouve no Berro!</label>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <div class="md-form">
          <mdb-icon fas icon="envelope" class="prefix"></mdb-icon>
          <input mdbInput type="text" id="NickJogador" class="form-control">
          <label for="NickJogador">Orelha que só ouve</label>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <select class="browser-default custom-select">
              <option selected>Escolha o seu Elo</option>
              <option [value]="item.value" *ngFor="let item of elo">{{item.name}}</option>
            </select>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <select class="browser-default custom-select">
              <option selected>Escolha o seu Elo</option>
              <option [value]="item.value" *ngFor="let item of elo">{{item.name}}</option>
            </select>
      </div>
      <div class="col-12">
          <select class="browser-default custom-select">
              <option selected>Escolha a sua posição</option>
              <option [value]="item.value" *ngFor="let item of elo">{{item.name}}</option>
            </select>
      </div>
<!--       <div class="radioHolder">
          <label class="container" *ngFor="let item of elo">
            <input type="radio" checked="checked" name="elo">
            <span class="checkmark"></span>
                <span class="radioText">
                  {{item.name}}
                </span>
            </label>
      </div> -->
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="mdbModal.hide()"
      mdbWavesEffect>Close</button>
    <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Save!</button>
  </div>
</div>
