/* .modal-form-marginTop{
} */
.modal-header {
  position: relative;
  background: #4285f4;
  width: 50%;
  left: 25%;
  bottom: 26px;
  text-align: center;
}
.md-form {
  margin: 0 !important;
  margin-bottom: 1rem !important;
}
$background_color_1: #eee;
$background_color_2: #ccc;
$background_color_3: #2196f3;
.radioHolder {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  .container {
    display: block;
    position: relative;
    margin: 0 10px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    padding: 0;
    .radioText {
      position: relative;
      z-index: 2;
      width:100%;
    }
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      &:checked {
        & ~ .checkmark {
          background-color: $background_color_3;
        }
        & ~ .radioText {
          color: white;
        }
      }
    }
    &:hover {
      input {
        & ~ .checkmark {
          background-color: $background_color_2;
        }
      }
    }
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $background_color_1;
      //border-radius: 50%;
      &:after {
        content: "";
        position: absolute;
        display: none;
      }
    }
  }
}
