.snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 16px;
  position: fixed;
  z-index: 10;
  left: 50%;
  bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .snackbar-text {
    width: 100%;
    font-size: 20px;
  }
  .snackbar-button {
    --background:#333;
    --background-hover: #5c5c5c;
    --padding-bottom: 4px;
    --padding-end: 4px;
    --padding-start: 4px;
    --padding-top: 4px;
  }
}
