<div class="snackbar" [@showSnackBar]=showSnackBar >
<span class="snackbar-text">
  {{text}}
</span>
<ion-button class="snackbar-button" (click)="showSnackBar = !showSnackBar">
  <ion-icon slot="icon-only" name="close"></ion-icon>
</ion-button>
</div>

