<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo iblue-header-darkerBlue">
  <mdb-navbar-brand>
    <span class="navbar-brand">
        <img src="../../assets/icons/logo-iblue-light.png" class="img-fluid navbar-brand-img" alt="IBLUE">
    </span>
  </mdb-navbar-brand>
  <links>
      <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown" dropdown>
              <a dropdownToggle mdbWavesEffect type="button" class="nav-link nav-item-title dropdown-toggle waves-light" mdbWavesEffect>
              Soluções IBlue<span class="caret"></span></a>
              <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary menu-dropdown" role="menu">
                  <span class="dropdown-item waves-light menu-dropdown-item" mdbWavesEffect *ngFor="let route of dropdowns">
                  {{route.name}}
                  </span>
              </div>
          </li>

        <li class="nav-item" *ngFor="let item of menuItems">
              <span class="nav-link waves-light nav-item-title" mdbWavesEffect>
                {{item.name}}
              </span>
          </li>

      </ul>
  </links>
</mdb-navbar>
