/* ::ng-deep .iblue-header-darkerBlue {
  background-color: #07003b !important;
}

 */
::ng-deep nav{
  &.indigo {
    background-color: #07003b !important;
  }
}

.navbar-brand{
  .navbar-brand-img{
    height: 30px;
    width: 90px;
    -webkit-transition: opacity 0.2s, background-image 0.3s;
    transition: opacity 0.2s, background-image 0.3s;
  }
}

.nav-item{
  .nav-item-title{
    font-weight: bold;
  }
}
::ng-deep .menu-dropdown{
  background-color: #361eab;
  color: #fff;
  font-family: 'Muli', sans-serif;
  .menu-dropdown-item{
    color: #ffffff;
    font-weight: bold;
    font-family: 'Muli', sans-serif;
    &:hover{
      background-color: #5941cf
    }
  }
}
