<div class="homePageBackground">
  <app-welcome-banner></app-welcome-banner>
  <app-deploySvg></app-deploySvg>
  <app-runSvg></app-runSvg>
  <app-updateSvg></app-updateSvg>
  <svg
    class="svgBreakLine"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 100 10"
    preserveAspectRatio="none"
  >
    <polygon points="100 0 100 10 0 10" />
  </svg>
  <div class="quem-acredita">
    <div class="section-container-header">
      <h2 class="section-title">
        <span>Quem</span>
        <br />
        <span class="section-subtitle">Acredita na gente</span>
        <p class="section-text">Nossos Clientes</p>
      </h2>
    </div>
    <div class="clientes">
      <img
        src="../../assets/clientes/CICLIC_LOGO_CINZA_HOME@2x.png"
        class="img-fluid"
        alt="IBLUE"
      />
    </div>
  </div>


<div class="cases-section">
  <div class="section-container-header">
    <h2 class="section-title">
      <span>Quem</span>
      <br />
      <span class="section-subtitle">Acredita na gente</span>
      <p class="section-text">Nossos Clientes</p>
    </h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12 cases-col" *ngFor="let item of cases">
        <mdb-card class="cases" [class.cases-onHover]="item.showCard" (mouseenter)="item.showCard = true" (mouseleave)="item.showCard = false">
          <mdb-card-body>
            <div class="cases-container">
              <div class="case-front" [style.backgroundImage]="'url('+ item.imageHover + ')'">
                <img class="testeimg" [src]="item.image">
              </div>
              <div class="case-back">
                <div class="case-back-details">
                  <p class="case-back-title">
                    <b>{{ item.title }}</b>
                  </p>
                  <p class="case-back-subtitle">{{ item.subtitle }}</p>
                  <p class="case-back-text">{{ item.texto }}</p>
                </div>
              </div>
            </div>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
  </div>
</div>
</div>
