
$transitionCases: all ease 500ms;
.section-container-header {
  .section-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #00063a;
    .section-subtitle {
      font-size: 2rem;
      font-weight: bold;
      margin-left: 50px;
      color: #361eab;
    }
    .section-text {
      font-weight: lighter;
      margin-top: 100px;
      margin-bottom: 100px;
      text-align: center;
      letter-spacing: 8px;
      font-size: 18px;
      color: #090b53;
      opacity: 1;
    }
  }
}


.quem-somos-container {
  background-color: #001031;
  .quem-somos-row {
    align-items: center;
    .quem-somos-text {
      color: #e3e0e0;
      text-align: left;
      font-weight: bold;
      .quem-somos-title {
        font-size: 47px;
        line-height: 59px;
      }
      .quem-somos-subtitle {
        font-size: 15px;
        line-height: 19px;
      }
    }
  }
}
.homePageBackground {
  background-color: #001031;
}

.svgBreakLine {
  display: block;
  width: 100%;
  height: 47vh;
  transform: rotateY(180deg);
  background: #001031;
  fill: #fff;
}

.quem-acredita {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  .section-container {
    .section-title {
      font-size: 2.5rem;
      font-weight: bold;
      color: #00063a;
      .section-subtitle {
        font-size: 2rem;
        font-weight: bold;
        margin-left: 50px;
        color: #361eab;
      }
      .section-text {
        font-weight: lighter;
        margin-top: 100px;
        margin-bottom: 100px;
        text-align: center;
        letter-spacing: 8px;
        font-size: 18px;
        color: #090b53;
        opacity: 1;
      }
    }
  }
  .clientes {
  }
}

.cases-section{
  background-color: #fff;
  .cases-col{
    margin-bottom: 35px;
  }
  .cases {
    transition: $transitionCases;;
    margin-bottom: 1rem;
    background: transparent;
    border: none;
    box-shadow: unset;
    &.cases-onHover {
      min-width: 450px;
      z-index: 9999;
      background: #fff;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
      border: 0;
      .cases-container{
        flex-direction: unset;
        .case-front {
          background-size: 90%;
          .testeimg {
            width: 100%;
            background-color: unset;
            opacity: 0;
          }
        }
        .case-back {
          transition: $transitionCases;
          opacity: 1;
          position: unset;
          visibility:visible;
          transform: translateX(0px);
        }
      }
    }
    .cases-container{
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      .case-front {
        background-size: 0%;
        background-repeat: no-repeat;
        background-position: center;
        align-items: center;
        justify-content: center;
        display: flex;
        .testeimg {
          -webkit-transition: $transitionCases;;
          -moz-transition: $transitionCases;;
          -o-transition: $transitionCases;;
          -ms-transition: $transitionCases;;
          transition: $transitionCases;;
          width: 60%;
          background: #fff;
        //  transform: scale(1.2);
        }
      }
      .case-back {
        transition: $transitionCases;;
        transform: translateX(-160px);
        position: absolute;
        visibility:hidden;
        opacity: 0;
        .case-back-details {
          display: flex;
          flex-direction: column;
          .case-back-title {
          }
          .case-back-subtitle {
          }
          .case-back-text {
          }
        }
      }
    }
  }
}
