.card-base {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .card {
    width: 50%;
    box-shadow: 20px 20px 20px 5px rgba(0, 0, 0, 0.2);
    padding: 0;
    &.secondCard {
      margin-top: 1em;
      display: flex;
      justify-content: space-between;
      width: 80%;
      padding: 0 16px;
      background-color: lightgrey;

      p {
        margin: 0 !important;
      }
    }
    .card-toolbar {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .card-content {
      .card-content-form {
        display: flex;
        flex-flow: column;
        justify-content: center;
        margin-top: 1em;
        padding: 16px;
      }
    }
    .card-footer {
      .card-display-color {
        .card-display-color-btn {
          margin: 0 0.5em 0.5em 0.5em;
        }
      }
      .card-footer-actions {
        text-align: center;
      }
    }
  }
}
