<div class="card-base">
  <mat-card class="card">
    <mat-toolbar class="card-toolbar" color="primary">
      <span>Seletor de cores</span>
    </mat-toolbar>
    <mat-card-content class="card-content">
      <form
        class="card-content-form"
        (ngSubmit)="addToArray(form)"
        #form="ngForm"
      >
        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput name="nome" [(ngModel)]="corNome" required />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Cor desejada</mat-label>
          <input
            matInput
            name="hexadecimal"
            [(ngModel)]="hexadecimal"
            minlength="7"
            required
          />
        </mat-form-field>
        <button
          mat-raised-button
          type="submit"
          [ngStyle]="changeStyle(hexadecimal, true)"
        >
          Adicionar à Lista
        </button>
      </form>
      <!--       <div>
        <p *ngFor="let item of colorFullArrRoot">
          {{ item }}
        </p>
      </div> -->
    </mat-card-content>
    <mat-card-footer class="card-footer">
      <div class="card-display-color">
        <button
          class="card-display-color-btn"
          mat-raised-button
          [ngStyle]="changeStyle(item.hexadecimal)"
          *ngFor="let item of colorArr"
          (click)="removeColor(item.id)"
        >
          {{ item.nome }}
        </button>
      </div>
      <mat-card-actions class="card-footer-actions">
        <button mat-raised-button color="accent" (click)="createIonicColors()">
          Executar
        </button>
      </mat-card-actions>
    </mat-card-footer>
  </mat-card>
  <mat-card class="card secondCard" *ngIf="colorFullTextRoot !== ''">
    <div>
      <p *ngFor="let item of colorFullArrRoot">
        {{ item }};
      </p>
    </div>
    <div>
      <p *ngFor="let item of colorFullArrClass">
        {{ item }};
      </p>
    </div>
  </mat-card>
</div>

<router-outlet></router-outlet>
