<div>
<div class="quem-somos-holder">
  <div class="container quem-somos-container">
    <div class="row quem-somos-row">
      <div class="col-md-8 col-12 quem-somos-text">
        <div class="quem-somos-text">
          <span class="quem-somos-title">
            Soluções Inovadoras que transformam a sua empresa
          </span>
          <span class="quem-somos-subtitle">
            Mais que clientes, Parceiros
          </span>
          <button mdbBtn type="button" color="pink" class="iblue-button rounded pink" mdbWavesEffect>
            Entre em Contato
          </button>
        </div>
      </div>
      <div class="col-md-4 col-12">
        <img
          src="../../assets/icons/banner2.png"
          class="img-fluid"
          alt="Responsive image"
        />
      </div>
    </div>
  </div>
</div>
<particles
[style]="WelcomeBannerParticlesStyle"
[width]="width"
[height]="height"
[params]="WelcomeBannerParams"
>
</particles>
</div>
