.quem-somos-holder{
  display: flex;
  align-items: center;
  justify-content: center;
  .quem-somos-container {
    /* background-color: #001031; */
    position: absolute;
    height: 350px;
    top: 14%;
    .quem-somos-row {
      align-items: center;
      .quem-somos-text {
        color: #e3e0e0;
        text-align: left;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        .quem-somos-title {
          font-size: 47px;
          line-height: 59px;
        }
        .quem-somos-subtitle {
          font-size: 15px;
          line-height: 19px;
        }
      }
    }
  }
}
@import '../../scss/iBlue-btn';
