<label class="switch">
  <input
  [(ngModel)]="value"
    type="checkbox"
    id="togBtn"
  />
  <div class="slider round">
    <!--ADDED HTML -->
    <span class="toggleTitle on">Sim</span>
    <span class="toggleTitle off">Não</span>
    <!--END-->
  </div>
</label>
