.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 34px;
  input {
    display: none;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--ion-color-sinaf-lightgray);
    -webkit-transition: 0.4s;
    transition: 0.4s;

    &:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }
    &.round {
      border-radius: 34px;
      &:before {
        border-radius: 50%;
      }
    }
    .toggleTitle {
      top: 50%;
      left: 50%;
      font-size: 16px;
      position: absolute;
      &.on {
        display: none;
        color: white;

        transform: translate(-100%, -50%);
      }
      &.off {
        color: var(--ion-color-sinaf-darkgray);

        transform: translate(0%, -50%);
      }
    }
  }
  input {
    &:checked {
      + {
        .slider {
          background-color: var(--ion-color-sinaf-background);
          &:before {
            -webkit-transform: translateX(35px);
            -ms-transform: translateX(35px);
            transform: translateX(35px);
          }
          .off {
            display: none;
          }
        }
      }
    }
    &:focus {
      + {
        .slider {
          box-shadow: 0 0 1px #2196f3;
        }
      }
    }
    &:checked + {
      .slider {
        .on {
          display: block;
        }
      }
    }
  }
}
