<div [class]="activatedTheme">
  <div class="mat-app-background">
    <app-header></app-header>
    <div class="card">
      <div class="card-header card-header-info">
        <h1 class="card-header-title" #loginTitle id="card-title-login">
          TESTE
        </h1>
      </div>
      <div class="card-body">
        <button mat-raised-button>Basic</button>
        <button mat-raised-button color="primary">Primary</button>
        <button mat-raised-button color="accent">Accent</button>
        <button mat-raised-button color="warn">Warn</button>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
