<nb-card size="large">
  <nb-tabset fullWidth>
    <nb-tab tabTitle="Temperature">
      <div class="slider-container">
        <ngx-temperature-dragger
          [(value)]="temperature"
          (power)="temperatureOff = !$event"
          [min]="temperatureData.min"
          [max]="temperatureData.max"
          [disableArcColor]="colors.layoutBg"
          [fillColors]="colors.temperature"
          (valueChange)="changeMode($event)"
        >
          <div class="slider-value-container" [class.off]="temperatureOff">
            <div class="value temperature">
              {{ temperatureOff ? "--" : transform(temperature) }}
            </div>
            <div class="desc">
              Celsius
            </div>
          </div>
        </ngx-temperature-dragger>
      </div>

      <div
        [(ngModel)]="temperatureMode"
        (ngModelChange)="changeMode($event)"
        ngbRadioGroup
        data-toggle="buttons"
        class="btn-group btn-group-toggle btn-divided-group btn-outline-divided-group btn-group-full-width"
      >
        <label ngbButtonLabel class="btn btn-icon" [class.active]="true">
          <input ngbButton type="radio" name="temperature" [(ngModel)]="temperatureMode"
          (ngModelChange)="changeMode($event)" value="cool" /><i
            class="nb-snowy-circled"
          ></i>
        </label>
        <label ngbButtonLabel class="btn btn-icon">
          <input ngbButton type="radio" name="temperature" [(ngModel)]="temperatureMode"
          (ngModelChange)="changeMode($event)" value="warm" /><i
            class="nb-sunny-circled"
          ></i>
        </label>
        <label ngbButtonLabel class="btn btn-icon">
          <input ngbButton type="radio" name="temperature" [(ngModel)]="temperatureMode"
          (ngModelChange)="changeMode($event)" value="heat" /><i
            class="nb-flame-circled"
          ></i>
        </label>
        <label ngbButtonLabel class="btn btn-icon">
          <input ngbButton type="radio" name="temperature" [(ngModel)]="temperatureMode"
          (ngModelChange)="changeMode($event)" value="fan" /><i
            class="nb-loop-circled"
          ></i>
        </label>
      </div>
    </nb-tab>

    <nb-tab tabTitle="Humidity">
      <div class="slider-container">
        <ngx-temperature-dragger
          [(value)]="humidity"
          (power)="humidityOff = !$event"
          [min]="humidityData.min"
          [max]="humidityData.max"
          [disableArcColor]="colors.layoutBg"
          [fillColors]="colors.temperature"
        >
          <div class="slider-value-container" [class.off]="temperatureOff">
            <div class="value humidity">
              {{ humidityOff ? "--" : transform(humidity) }}
            </div>
          </div>
        </ngx-temperature-dragger>
      </div>

      <div
        [(ngModel)]="humidityMode"
        ngbRadioGroup
        data-toggle="buttons"
        class="btn-group btn-group-toggle btn-divided-group btn-outline-divided-group btn-group-full-width"
      >
        <label ngbButtonLabel class="btn btn-icon">
          <input ngbButton type="radio" value="cool" /><i
            class="nb-snowy-circled"
          ></i>
        </label>
        <label ngbButtonLabel class="btn btn-icon">
          <input ngbButton type="radio" value="warm" /><i
            class="nb-sunny-circled"
          ></i>
        </label>
        <label ngbButtonLabel class="btn btn-icon">
          <input ngbButton type="radio" value="heat" /><i
            class="nb-flame-circled"
          ></i>
        </label>
        <label ngbButtonLabel class="btn btn-icon">
          <input ngbButton type="radio" value="fan" /><i
            class="nb-loop-circled"
          ></i>
        </label>
      </div>
    </nb-tab>
  </nb-tabset>
</nb-card>
