@import "./componentCases/componentCaseCore";
.purpleish-theme {
    color: $light-primary-text;
    $purpleish-primary: mat-palette($mat-deep-purple, 500);
    $purpleish-accent: mat-palette($mat-blue-grey, A100);
    $purpleish-warn: mat-palette($mat-red,500);
    $purpleish-theme: mat-light-theme($purpleish-primary, $purpleish-accent, $purpleish-warn);
  
    @include angular-material-theme($purpleish-theme);
    @include component-themes($purpleish-theme, #616161);
  }
  