/* You can add global styles to this file, and also import other style files */
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

@import "./scss/primeFlex";
@import "./scss/nebular-gradiente-hero";
@import "./scss/MDB/material-dashboard";
@import "./scss/expandableSearch";
@import "./scss/loaderAnimation";
@import "./scss/material-Themes/core-themes";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Exo !important;  
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d3d3d3;
  border-radius: 10px;
}
