<mdb-card class="wow fadeIn">
    <mdb-card-body class="d-sm-flex justify-content-between">
        <h4 class="mb-sm-0 pt-3">
            <span>Dashboard</span>
        </h4>
        <form class="d-flex md-form justify-content-center my-0">
            <!-- Default input -->
            <input type="search" placeholder="Teste de nivel 1" aria-label="Search" class="form-control" mdbInput>
            <button mdbBtn color="primary" size="sm" class="my-0 p" type="submit">
                <mdb-icon fas icon="search"></mdb-icon>
            </button>
        </form>
    </mdb-card-body>
</mdb-card>
<app-stats-card></app-stats-card>
<div class="wow fadeIn mt-5">
    <div>
        <mdb-card>
            <mdb-card-body>
                <div style="display: block">
                    <canvas mdbChart [chartType]="chart1Type" [datasets]="chartDatasets" [labels]="chartLabels"
                        [colors]="chartColors" [options]="chartOptions" [legend]="true">
                    </canvas>
                </div>
            </mdb-card-body>
        </mdb-card>
    </div>
</div>


<!--Grid row-->


<app-stats-card2></app-stats-card2>