.scene {
  width: 210px;
  height: 140px;
  position: relative;
  perspective: 1000px;
  .carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    .carousel__cell {
      position: absolute;
      width: 190px;
      height: 120px;
      left: 10px;
      top: 10px;
      &:nth-child(1) {
        transform: rotateY(0deg) translateZ(288px);
      }
      &:nth-child(2) {
        transform: rotateY(40deg) translateZ(288px);
      }
      &:nth-child(3) {
        transform: rotateY(80deg) translateZ(288px);
      }
      &:nth-child(4) {
        transform: rotateY(120deg) translateZ(288px);
      }
      &:nth-child(5) {
        transform: rotateY(160deg) translateZ(288px);
      }
      &:nth-child(6) {
        transform: rotateY(200deg) translateZ(288px);
      }
      &:nth-child(7) {
        transform: rotateY(240deg) translateZ(288px);
      }
      &:nth-child(8) {
        transform: rotateY(280deg) translateZ(288px);
      }
      &:nth-child(9) {
        transform: rotateY(320deg) translateZ(288px);
      }
    }
  }
}
