.header-holder {
  .header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
.header-title-holder{
    display: flex;
    align-items: center;
    .header-title-text {
      margin: 0;
    }
    .header-title-icon{
        height: 3em;
        width: 3em;
    }
    
}
    .header-theme-switcher {
    }
  }
}
